/* default csses */

.margin-sides-10 {
    margin: 0 10px;
}

.margin-10 {
    margin: 10px
}

.margin-20 {
    margin: 20px
}
.margin-top-bot-10 {
    margin: 10px 0
}
.padding-10 {
    padding: 10px
}

.padding-20 {
    padding: 20px
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}
.flex-content-between {
    justify-content: space-between
}

.flex-content-center {
    justify-content: center
}

.flex-items-center{
    align-items: center;
}
/* default csses */


@media only screen and (min-width: 426px) {
    
    .form-radios {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 15px;
    }

    .radio-wrapper {
        display: flex;
    }

    .box-wrapper {
        display: flex;
        flex-direction: column;
    }

    .nota-wrapper {
        display: flex;
        width: 16.5vw;
        margin: 10px 0;
        justify-content: space-between;
    }
    .mini-title {
        /* margin: 0 15px; */
    }

    .input-wrapper {
        display: flex;
    }

    .cidade-input {
        width: 10vw;
    }

    .estado-input {
        width: 10vw;
    }
    .input-cidade {
        width: 89%
    }

    .input-estado {
        width: 40%
    }

    .form-option {}

    .form-aval {
        margin: 40px 0;
    }

    .form-btn {
        padding: 5px 10px;
        background-color: #222222;
        color: #fff;
        border-radius: 5px;
        border-style: none;
    }
    .form-textarea {
        width: 23vw;
        height: 20vh;
    }
    .form-top-text {
        margin: 10px 10px;
    }
}

@media only screen and (max-width: 425px) {
    .input-wrapper {
        display: flex;
        flex-direction: column;
    }

    .input-cidade {
        width: 100%
    }
    
    .input-estado {
        width: 100%
    }

    .cidade-input {
        width: 206px;
    }
    
    .estado-input {
        width: 206px;
    }

    .aval-form {
        display: flex;
        flex-direction: column;
    }
    .margin-phone {
        margin: 0 !important;
    }

    .form-radios {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 25px;
    }
    .nota-wrapper {
        display: flex;
        width: 90vw;
        margin: 20px 0;
        justify-content: space-between;
    }

    .radio-wrapper {
        display: flex;
    }

    .form-textarea {
        width: 84vw;
        height: 20vh;
    }

    .form-btn {
        padding: 5px 10px;
        background-color: #222222;
        color: #fff;
        border-radius: 5px;
        border-style: none;
    }
}